.Pc-card {
    height: 0;
    /* overflow: hidden;
    margin-bottom: 0; */
}
.Pc-feedAd-container {
    height: 0;
}

.Pc-feedAd-card-brand-wrapper {
    height: 0;
}
.TopstoryItem--advertCard {
    height: 0;
}